<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallpaper71">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.WallpaperNew"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.wallpaper71.view.Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wallpaper71.view.CodeWebView" />
        <activity android:name="com.wallpaper71.view.wall_preview.FullScreenView" />
        <activity android:name="com.wallpaper71.view.WallpaperShow" />
        <activity android:name="com.wallpaper71.view.ListByCollection" />
        <activity
            android:name="com.wallpaper71.view.MainActivity"
            android:theme="@style/Theme.WallpaperNew2">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />

        <service android:name="com.wallpaper71.firebase.FirebaseMessageReceiver"
            android:exported="true"
            android:theme="@style/Theme.WallpaperNew.NoActionBar">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>